/* National */
@font-face {
	font-family: "National 2 Web";
	src: url("https://pudding.cool/assets/fonts/national/National2Web-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "National 2 Web";
	src: url("https://pudding.cool/assets/fonts/national/National2Web-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Tiempos Text */
@font-face {
	font-family: "Tiempos Text Web";
	src: url("https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tiempos Text Web";
	src: url("https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Tan Nimbus */
@font-face {
	font-family: "Tan Nimbus";
	src: url("/assets/fonts/tan-nimbus/TAN-NIMBUS.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Avoda */
@font-face {
	font-family: "Avoda";
	src: url("/assets/fonts/avoda/avoda.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Manicotti */
@font-face {
	font-family: "Manicotti";
	src: url("/assets/fonts/manicotti/manicotti.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Architectural */
@font-face {
	font-family: "Architectural";
	src: url("/assets/fonts/architectural/architectural.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Buffalo */
@font-face {
	font-family: "Buffalo";
	src: url("/assets/fonts/buffalo/buffalo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Paradizo */
@font-face {
	font-family: "Paradizo";
	src: url("/assets/fonts/paradizo/paradizo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
